<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reverse Image Search</title>
    <link href="{{url_for('static',filename='css/main.css')}}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto&display=swap" rel="stylesheet">
    <script src="../static/script/script.js"></script>
    <script defer src="../static/script/pagination.js"></script>
    <script defer src="{{url_for('static',filename='main.js')}}"></script>

</head>
<body>
    <h1 class="text-blue-600 flex justify-center text-4xl my-8 font-bold font-montserrat text-transparent bg-clip-text bg-gradient-to-r from-blue-500 via-indigo-600 to-purple-500">Reverse Image Search</h1>
    <div class="bg-gray-200 flex flex-col items-center my-4 font-montserrat font-medium">

        <div class="bg-blue-200 flex flex-row my-5 ">
            <div class="bg-gray-300 h-96">
                <img src="{{img}}" class="h-full">
            </div> 
            
            
            <div class="flex flex-col gap-32 items-center justify-center p-4">
                <div>
                    <h2 class="font-bold text-blue-600">Image Input</h2>
                    <form action="{{ url_for('upload_inputs') }}" enctype="multipart/form-data" method="POST" id="uploadForm">
                      <div class="flex flex-col">
                        <div class="inline-block relative">
                          <input class="absolute inset-0 w-full h-full opacity-0 cursor-pointer" name="img" type="file" id="fileInput" onchange="submitForm()"/>
                          <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cursor-pointer">
                            Choose a file
                          </button>
                        </div>
                      </div>
                      <span id="fileName"></span>
                    </form>
                </div>
                <div class="bg-blue-300 p-2 rounded-xl">
                    <div class="flex flex-row rounded p-1 text-white justify-center mb-1">  
                        <p class="text-blue-600 font-semibold ">Color</p>
                        <label class="mx-4 relative inline-flex items-center cursor-pointer">
                            <input type="checkbox" value="" class="sr-only peer" id="ColorTextureToggle">
                            <div class="w-11 h-6 bg-blue-700 rounded-full peer peer-checked:after:translate-x-full 
                            peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] 
                            after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5
                            after:transition-all peer-checked:bg-purple-500"></div>
                          </label>
                        <p class="text-purple-600 font-semibold">Texture</p>
                    </div>
                    <button onclick="searchColorOrTexture()" id="Searchbar" class="rounded-full text-white px-16 py-2.5 font-bold bg-gradient-to-r from-blue-500 via-indigo-600 to-purple-500 hover:opacity-90 transition-all">Search</button>
                </div>
            </div>
        </div>

        <div class="flex flex-row gap-80 mb-4 bg-blue-200 p-2">
            <h2 class="text-blue-600 font-bold">Result:</h2>
            <h2 class="text-blue-600">{{search_result}}</h2>
        </div>
        <script>
          var mappingKey = {{key|safe}};
          // var keysJS = Array.from(JSON.parse(keys));
        </script>
        <section class="grid grid-rows-3 grid-cols-3 gap-5 bg-blue-200 p-4 galer invisible">
            <div class="bg-blue-200 text-center">
              <img src="" id="img1" class="max-h-40 p-2">
              <figcaption id="capt1" class="text-blue-800"></figcaption>
            </div>
            <div class="bg-blue-200 text-center">
              <img src="" id="img2" class="max-h-40 p-2">
              <figcaption id="capt2" class="text-blue-800"></figcaption>
            </div>
            <div class="bg-blue-200 text-center">
              <img src="" id="img3" class="max-h-40 p-2">
              <figcaption id="capt3" class="text-blue-800"></figcaption>
            </div>
            <div class="bg-blue-200 text-center">
              <img src="" id="img4" class="max-h-40 p-2">
              <figcaption id="capt4" class="text-blue-800"></figcaption>
            </div>
            <div class="bg-blue-200 text-center">
              <img src="" id="img5" class="max-h-40 p-2">
              <figcaption id="capt5" class="text-blue-800"></figcaption>
            </div>
            <div class="bg-blue-200 text-center">
              <img src="" id="img6" class="max-h-40 p-2">
              <figcaption id="capt6" class="text-blue-800"></figcaption>
            </div>
            <div class="bg-blue-200 text-center">
              <img src="" id="img7" class="max-h-40 p-2">
              <figcaption id="capt7" class="text-blue-800"></figcaption>
            </div>
            <div class="bg-blue-200 text-center">
              <img src="" id="img8" class="max-h-40 p-2">
              <figcaption id="capt8" class="text-blue-800"></figcaption>
            </div>
            <div class="bg-blue-200 text-center">
              <img src="" id="img9" class="max-h-40 p-2">
              <figcaption id="capt9" class="text-blue-800"></figcaption>
            </div>
          <!-- {% for item in key %}
          <div class="container_image">
            <div class="flex flex-col items-center galer_item"> 
              <div class="img_item">
                <img src='static/dataset/{{item[1]}}' class="h-32">
                <figcaption class="align-bottom text-blue-800">{{item[0]}}%</figcaption>
              </div>
            </div>
          </div>
          {% endfor %} -->
        </section>
        <nav aria-label="Page navigation">
            <ul class="list-style-none flex py-4">
              <div class="flex flex-col items-center text-sm text-black invisible pagenav">
                Page
                <span class="text-sm text-black pagenum">   
                </span>
                <div class="inline-flex mt-2 xs:mt-0">
                    <button class="flex items-center justify-center px-4 h-10 text-base font-medium text-white bg-gradient-to-r from-indigo-600 to bg-purple-500 rounded-s hover:bg-gray-900 dark:hover:bg-gray-700 dark:hover:text-white Prev">
                        Prev
                    </button>
                    <button class="flex items-center justify-center px-4 h-10 text-base font-medium text-white bg-gradient-to-l from-indigo-600 to bg-purple-500 border-0 border-s border-gray-700 rounded-e hover:bg-gray-900  dark:hover:bg-gray-700 dark:hover:text-white Next">
                        Next
                    </button>
                </div>
              </div>
            </ul>
        </nav>
        <button class="rounded-full text-white px-16 py-2.5 mb-4 font-bold bg-gradient-to-r from-blue-500 via-indigo-600 to-purple-500 ">
            Upload Dataset
        </button>
        <form id="extractFeaturesForm" action="{{ url_for('extract_features') }}" method="post">
        <button type="button" onclick="extractFeatures()" class="rounded-full text-white px-16 py-2.5 mb-4 font-bold bg-gradient-to-r from-blue-500 via-indigo-600 to-purple-500 ">
          Extract Dataset
      </button>
    </form>
    <p>{{extracted_notice}}</p>
    </div>

    <nav class="absolute left-5 top-10 font-bold text-white">
      <a href="/" class="bg-blue-500 p-4 rounded text-yellow-300">Home</a>
      <a href="/about_page" class="bg-blue-600 p-4 rounded hover:text-yellow-300">About Us</a>
    </nav>
</body>
</html>