<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Algeo 02</title>
    <link href="{{url_for('static',filename='css/main.css')}}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto&display=swap" rel="stylesheet">
    <script defer src="{{url_for('static',filename='main.js')}}"></script>

</head>
<body>
    <h1 class="text-blue-600 flex justify-center text-4xl my-8 font-bold font-montserrat text-transparent bg-clip-text bg-gradient-to-r from-blue-500 via-indigo-600 to-purple-500">Reverse Image Search</h1>
    <div class="bg-gray-200 flex flex-col items-center my-4 font-montserrat font-medium">

        <div class="bg-yellow-300 flex flex-row my-5 ">
            <div class="bg-gray-300">
                <img src="{{img}}">
            </div> 
            
            
            <div class="flex flex-col gap-32 items-center justify-center p-4">
                <div>
                    <h2 class="font-bold text-blue-600">Image Input</h2>
                    <form class="bg-blue-500 rounded py-2 px-4 text-white" action="{{ url_for('upload_file') }}" enctype="multipart/form-data" method="POST">
                      <input name="img" type="file"/>
                      <input type="submit"/>
                    </form>
                    <p class="">bwganteng.png</p>
                </div>
                <div class="bg-blue-300 p-2">
                    <div class="flex flex-row bg-yellow-200 rounded p-1 text-blue-500 justify-center mb-1">  
                        <p>Color</p>
                        <label class="mx-4 relative inline-flex items-center cursor-pointer">
                            <input type="checkbox" value="" class="sr-only peer">
                            <div class="w-11 h-6 bg-gray-300 rounded-full peer peer-checked:after:translate-x-full 
                            peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] 
                            after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5
                            after:transition-all peer-checked:bg-green-600"></div>
                          </label>
                        <p>Texture</p>
                    </div>
                    <button class="rounded-full text-white px-16 py-2.5 font-bold bg-gradient-to-r from-blue-500 via-indigo-600 to-purple-500 ">Search</button>
                </div>
            </div>
        </div>

        <div class="flex flex-row gap-80 mb-4 bg-yellow-300 p-2">
            <h2 class="text-blue-600 font-bold">Result:</h2>
            <h2>54 Results in 0.57 seconds.</h2>
        </div>

        <div class="grid grid-cols-3 grid-rows-3 gap-5 bg-yellow-300 p-4">
            <div class="bg-blue-300 p-4">1</div>
            <div class="bg-blue-300 p-4">2</div>
            <div class="bg-blue-300 p-4">3</div>
            <div class="bg-blue-300 p-4">6</div>
            <div class="bg-blue-300 p-4">7</div>
            <div class="bg-blue-300 p-4">8</div>
            <div class="bg-blue-300 p-4">9</div>
            <div class="bg-blue-300 p-4">10</div>
            <div class="bg-blue-300 p-4">11</div>
        </div>
        <nav aria-label="Page navigation">
            <ul class="list-style-none flex py-4">
              <li>
                <a
                  class="relative block rounded bg-transparent px-3 py-1.5 text-sm text-neutral-600 transition-all duration-300 hover:bg-neutral-100 "
                  href="#"
                  >Previous</a
                >
              </li>
              <li>
                <a
                  class="relative block rounded bg-transparent px-3 py-1.5 text-sm text-neutral-600 transition-all duration-300 hover:bg-neutral-100 "
                  href="#"
                  >1</a
                >
              </li>
              <li aria-current="page">
                <a
                  class="relative block rounded bg-transparent px-3 py-1.5 text-sm text-neutral-600 transition-all duration-300 hover:bg-neutral-100 "
                  href="#"
                  >2</a
                >
              </li>
              <li>
                <a
                  class="relative block rounded bg-transparent px-3 py-1.5 text-sm text-neutral-600 transition-all duration-300 hover:bg-neutral-100 "
                  href="#"
                  >3</a
                >
              </li>
              <li>
                <a
                  class="relative block rounded bg-transparent px-3 py-1.5 text-sm text-neutral-600 transition-all duration-300 hover:bg-neutral-100"
                  href="#"
                  >Next</a
                >
              </li>
            </ul>
        </nav>
        <button class="rounded-full text-white px-16 py-2.5 mb-4 font-bold bg-gradient-to-r from-blue-500 via-indigo-600 to-purple-500 ">
            Upload Dataset
        </button>
    </div>
</body>
</html>